.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 8rem;

  @include breakpoint($mobile-bp) {
    margin-top: 5rem;
  }
}
.pagination__item {
  margin: 0 0.5rem;
}

.pagination__link {
  display: block;
  width: 4rem;
  height: 4rem;

  color: $white;
  background-color: #0d0d0d;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.15);

  text-align: center;
  text-decoration: none;

  line-height: 4rem;
  font-size: 1.4rem;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: lighten(#0d0d0d, 2%);
  }

  &.active {
    background-color: $blue;
    box-shadow: 0 0 10px rgba($color: $blue, $alpha: 0.15);
  }
}
