.search {
  background-color: $primary;
  min-width: 21rem;
  width: 100%;
}

.search__input {
  display: block;
  padding: 1.2rem 2rem;
  width: 100%;
  background: transparent;
  border: none;

  font-family: inherit;
  font-size: 1.4rem;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.4);
  }

  @include breakpoint($tablet-bp) {
    height: 4rem;
    font-size: 1.5rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}
