<div class="modal" id="share-modal">
  <div class="modal__content">
    <button class="modal__close" type="button">
      <img src="assets/images/cancel.svg" alt="close" />
    </button>

    <ul class="social">
      <li class="social__item">
        <a href="https://www.facebook.com" class="social__link" target="_blank">
          <img src="assets/images/facebook -1.svg" alt="facebook" />
        </a>
      </li>
      <li class="social__item">
        <a href="https://www.twitter.com" class="social__link" target="_blank">
          <img src="../assets/images/twitter-1.svg" alt="twitter" />
        </a>
      </li>
      <li class="social__item">
        <a href="https://www.vk.com" class="social__link" target="_blank">
          <img src="../assets/images/vk2.svg" alt="vk" />
        </a>
      </li>
      <li class="social__item" id="clipboard-btn">
        <a href="#" class="social__link" onclick="copyToClipboard()">
          <img src="../assets/images/copy1.svg" alt="copy" />
        </a>
      </li>
    </ul>
  </div>
</div>
